<div class="ink-grid">
  <div class="companies half-top-padding">
    <div class="column-group all-100 push-center half-top-padding">
      <h1>Companies</h1>
    </div>
    <div class="column-group all-100 horizontal-gutters push-center">
        <% @company.each do |a| %>
            <div class="companiesCardHolder all-25 medium-30 small-50 tiny-100 half-bottom-space">
            <div class="companiesCard all-100 padding">
              <div class="all-100">
                <div class="all-100 left-padding right-padding ">
                  <div class="all-100 align-center top-padding push-top">
                    <a href="<%= a.website %>"><img src="<%= a.img_url %>"></a>
                  </div>
                  <div class="all-100 align-center top-padding push-bottom">
                    <h3><%= link_to a.name, company_path(a)%></h3>
                    <p><%= a.industry %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
