<div class="ink-grid">
  <div class="advisors all-100 half-top-padding">
    <div class="column-group all-100 push-center half-top-padding">
      <h1>Advisors</h1>
    </div>
    <div class="column-group horizontal-gutters push-center">
    <% @advisor.each do |a| %>
        <div class="advisorCardHolder all-25 medium-30 small-50 tiny-100 half-bottom-space">
          <a href="<%= advisor_path(a) %>">
            <div class="advisorCard padding half-bottom-space">

                <div class="all-100">
                  <div class="all-100 left-padding right-padding ">
                    <div class="all-100 align-center top-padding push-top">
                      <img src="<%= a.img_url %>">
                    </div>
                    <div class="all-100 align-center top-padding push-bottom">
                      <h3><%= a.name%></h3>
                      <p><%= a.title %></p>
                    </div>
                  </div>
                </div>

            </div>
          </a>
        </div>
    <% end %>
    </div>
  </div>
</div>