// Place all the styles related to the saryan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: 0;
  //background: #1a1a1a;
  background: rgba(166, 166, 166, 0.9) none repeat scroll 0 0;
  -webkit-transform: scale3d(1,1,1);
  top: 0;

  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow:    0px 3px 3px 0px rgba(0,0,0,0.5);
  box-shadow:         0px 3px 3px 0px rgba(0,0,0,0.5);

  .ink-navigation ul li {
    font-size: 14px;
    background: none;
  }
  .ink-navigation ul li a {
    background: none;
    padding: .8em 1em;
    //color: #bbb;
    color: white;
    //text-transform: uppercase;
    font-weight: 300;
    line-height: 24px;
    border-radius: 2px;
  }
  .ink-navigation ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: rgba(0, 0, 0, 0.8);
    //color: rgba(81, 203, 238, 1);
  }
  .ink-navigation ul li a.logoPlaceholder:hover {
    //background: 0 0;
  }
  .ink-navigation ul li a.logoPlaceholder {
    text-transform: uppercase;
    background: none;
    margin-right: .5em;
    padding: .5em 0;
    font-weight: 300;
    line-height: 24px;
    font-size: 1.4em;
  }
  .ink-navigation ul li button.fa-bars {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    font-size: 1.2em;
    color: #000000;
    border: 0;
    padding: .8em .8em .8em 0;
    padding-top: 1.8em;
    float: left;
  }
  ul.menu {
    background: none;
  }
  .Logo {
    padding-left: 0px;
    height: 4em;
    //position:absolute;
  }
  .MenuOverlay {
    background: image_url('sjsulogo2.png') no-repeat;
    height: 4.8em;
  }
}

//DRAWER

#topbar .ink-navigation ul.black li button.fa-bars:active,
#topbar .ink-navigation ul.black li button.fa-bars:focus,
#topbar .ink-navigation ul.black li button.fa-bars:hover {
  color: #fff;
  outline: 0;
}

body.ink-drawer .left-drawer, body.ink-drawer .right-drawer {
  //background: #1e1e1e;
  background: rgba(166, 166, 166, 0.8) none repeat scroll 0 0;
  //background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
}

body.ink-drawer .left-drawer li, body.ink-drawer .right-drawer li {
  display: block;
  margin: 0;
  padding-top: 1em;
  font-weight: 300;
}

body.ink-drawer .left-drawer ul, body.ink-drawer .right-drawer ul {

  margin: 59px 0 0;
  padding: 0;
  padding-top: 1em;
  list-style-type: none;
}

body.ink-drawer .left-drawer li>a:hover, body.ink-drawer .right-drawer li>a:hover {
  background: #333;
  color: #FFF;
}

body.ink-drawer .left-drawer li>a, body.ink-drawer .right-drawer li>a {
  display: block;
  padding: 6px 15px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .875em;
}

//FOOTER

.Footer {
  color: white;
  font-size: 14px;
  font-weight: 300;
  background: rgba(166, 166, 166, 0.8);
  //background: -webkit-linear-gradient(#1e1e1e, #4d4d4d); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(#1e1e1e, #4d4d4d); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(#1e1e1e, #4d4d4d); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(#1e1e1e, #4d4d4d); /* Standard syntax */
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px -3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px -3px 3px 0px rgba(0, 0, 0, 0.5);

  p {
    font-weight: 300;
    padding-top: 20px;
  }

  ul li a {
    color: white;
    font-weight: 300;

  }
  ul li a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
}

//ICONS

.Icon {
  height: 3em;
}



