<div class="Footer">
  <div class="ink-grid all-100">
    <div class="column-group all-100 push-middle top-space">
      <div class="all-50 push-left ">
        <!--<h3>SARYAN</h3>-->
        <ul class="inline">
          <li><%= link_to("Home", root_path) %></li>
          <li><%= link_to("Projects", root_path) %></li>
          <li><%= link_to("Advisors", advisers_path) %></li>
          <li class="heading"><%= link_to("Register", register_path) %></li>
        </ul>
      </div>
      <div class="all-50 push-right align-right push-middle right-padding">
        <p>copyright © SJSU 2016</p>
      </div>
    </div>
  </div>
</div>